@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.home {
  @include display();
  @include heightCalc();
}

.home__image {
  width: 50%;
  height: 30%;
}

@media (max-width: $media-xs) {
  .home__image {
    width: 90%;
    height: auto;
  }
}
